<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row *ngIf="links$ | async as links; else loading">
            <ion-col>
                <ion-list lines="full">
                    <ion-item *ngFor="let link of links" class="contact__item ion-margin-top" detail
                              detail-icon="open-outline" button (click)="openLink(link)">
                        <ion-icon slot="start" size="large" [name]="link.ionicon"></ion-icon>
                        <ion-label>{{link.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ng-template #loading>
            <app-skeleton-loader lines="5"></app-skeleton-loader>
        </ng-template>

        <img class="contact__illustration" src="assets/img/illustration-menu.svg" alt="">
    </ion-grid>

</ion-content>
