<ion-header class="ion-no-border" translucent="{{translucentHeader}}">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="{{translucentHeader}}">

    <ion-grid class="ion-padding" fixed>

        <div *ngIf="links$ | async as links; else loading">
            <ion-row>
                <ion-col>
                    <p>For project inquiries or networking feel free to contact me.</p>
                </ion-col>
            </ion-row>

            <ion-list lines="none">
                <ion-item button detail color="none" *ngFor="let link of links" (click)="openLink(link)">
                    <ion-icon slot="start" size="large" [name]="link.ionicon"></ion-icon>
                    <ion-label>{{link.name}}</ion-label>
                </ion-item>
            </ion-list>
        </div>

        <ng-template #loading>
            <app-skeleton-loader lines="5"></app-skeleton-loader>
        </ng-template>

    </ion-grid>

</ion-content>
