.h100 {
  height: 100%;
}

.icon {
  height: 64px;
  width:  64px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.07));
  border-radius: 10px;
}

ion-icon {
  font-size: 38px;
}
