.skills {

  &__icon-wrapper {
    height: 72px;
    width:  72px;
    margin: 0 auto;
    border-bottom: 1px solid var(--ion-color-primary);
    border-right: 1px solid var(--ion-color-primary);
  }

  ion-icon {
    color: var(--ion-color-medium);
    font-size: 48px;
  }

  &__illustration {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    z-index: 2;
  }

}

@media screen and ( min-width: 300px) {
  .skills__illustration {
    max-width: 45vw;
  }
}

@media screen and ( min-width: 540px) {
  .skills__illustration {
    max-width: 35vw;
  }
}

@media screen and ( min-width: 720px) {
  .skills__illustration {
    max-width: 25vw;
  }
}
