<ion-header class="ion-no-border" translucent="{{translucentHeader}}">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Skills</ion-title>
        <ion-buttons slot="end">
            <app-social-links></app-social-links>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="{{translucentHeader}}">

    <ion-grid class="h100" fixed="true">
        <ion-slides class="h100" *ngIf="skills$ | async as skills; else loading" [options]="options" pager="true">
            <ion-slide class="h100" *ngFor="let skill of skills">
                <ion-row class="h100">
                    <ion-col class="ion-align-self-center">
                        <ion-row class="ion-margin icon">
                            <ion-col class="ion-align-self-center">
                                <ion-icon [name]="skill.ionicon"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <h1 class="ion-margin-top ion-padding">{{skill.title}}</h1>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-grid>

    <ng-template #loading>
        <ion-grid class="h100" fixed>
            <ion-row class="h100">
                <ion-col class="ion-align-self-center">
                    <ion-avatar style="margin: 0 auto">
                        <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-avatar>
                    <h1 class="ion-margin-top ion-padding">
                        <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </h1>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>

</ion-content>
