.logo {
  font-family: 'Mr De Haviland', cursive;
  font-size: 75px;
}

.illustration {
  width: 100%;
}

.about {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
