.illustration {
  background-color: var(--ion-color-light);
  border-radius: 25px;

  img {
    width: 100%;
  }
}

.about {
  line-height: 1.5;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
