<ion-header class="ion-no-border" translucent="{{translucentHeader}}">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
        <ion-buttons slot="end">
            <app-social-links></app-social-links>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="{{translucentHeader}}">

    <ng-container *ngIf="{settings: settings$ | async, team: team$ | async} as data">
        <ion-grid *ngIf="data.team && data.settings; else loading" class="ion-padding" fixed>

            <!-- headline -->
            <ion-row>
                <ion-col>
                    <h1 class="ion-text-center">{{data.settings.title}}</h1>
                    <ion-text color="medium">
                        <p class="ion-text-center">{{data.settings.subTitle}}</p>
                    </ion-text>
                </ion-col>
            </ion-row>

            <!-- team -->
            <ion-row style="margin-top: 50px">
                <ion-col *ngFor="let partner of data.team" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
                    <ion-card button="true" (click)="openBiography(partner)">
                        <ion-card-header class="ion-text-center">
                            <ion-card-title>{{partner.name}}</ion-card-title>
                            <ion-card-subtitle>{{partner.profession}}</ion-card-subtitle>
                            <ion-icon class="ion-margin-top" size="small" name="open-outline"></ion-icon>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>

            <!-- logo -->
            <ion-row class="illustration">
                <ion-col>
                    <img src="assets/img/about/app.svg"/>
                </ion-col>
            </ion-row>

        </ion-grid>

        <ng-template #loading>
            <ion-grid style="height: 100%">
                <ion-row style="height: 100%">
                    <ion-col class="ion-align-self-center ion-text-center">
                        <ion-spinner name="bubbles"></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-template>

    </ng-container>

</ion-content>
