<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-social-links></app-social-links>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="author$ | async as author; else loading" class="ion-margin-top ion-padding" fixed>
        <ion-row>
            <ion-col>
                <h1>{{author.name}}</h1>
                <ion-text color="medium">
                    <h2>{{author.profession}}</h2>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <img src="assets/img/illustration-about.svg" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="about__bio" [innerHTML]="parseRichText(author.bio)"></p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #loading>
        <ion-grid style="height: 100%">
            <ion-row style="height: 100%">
                <ion-col class="ion-align-self-center ion-text-center">
                    <ion-spinner name="bubbles"></ion-spinner>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>

</ion-content>
