<ion-header class="ion-no-border" translucent="{{translucentHeader}}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="end">
      <app-social-links></app-social-links>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="{{translucentHeader}}">

  <ion-grid class="ion-padding" fixed>

    <ion-row *ngIf="settings$ | async as data; else loading">
      <ion-col>
        <div [innerHTML]="data.legal.privacy"></div>
      </ion-col>
    </ion-row>

    <ng-template #loading>
      <app-skeleton-loader lines="5"></app-skeleton-loader>
    </ng-template>

  </ion-grid>

</ion-content>
