<ion-menu *ngIf="settings" contentId="menu-content" [type]="settings.menuType">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-title class="logo ion-text-center">{{settings.menuTitle}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <!-- app pages -->
        <ion-list lines="full">
            <ion-list-header>
                <ion-label color="primary">Nav</ion-label>
            </ion-list-header>
            <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
                <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="true">
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>

        <!-- legal pages -->
        <ion-list lines="full" class="ion-margin-top">
            <ion-list-header>
                <ion-label color="primary">Legal</ion-label>
            </ion-list-header>
            <ion-menu-toggle autoHide="false" *ngFor="let p of legalPages; let i = index">
                <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="true">
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
    <ion-footer class="ion-text-center" *ngIf="getAppVersion()">
        <p>{{getAppVersion()}}</p>
    </ion-footer>
</ion-menu>

<!-- main content -->
<ion-router-outlet id="menu-content"></ion-router-outlet>
