<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-social-links></app-social-links>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="ion-margin-bottom" fixed>

        <ion-list *ngIf="projects$ | async as projects; else loading">
            <ion-item class="ion-margin-top" detail="false" *ngFor="let project of projects">
                <ion-label class="ion-text-wrap">
                    <h1>{{project.title}}</h1>
                    <div class="ion-margin-top" [innerHTML]="parseRichText(project.description)"></div>
                    <p><a (click)="openLink(project.link)" tappable="true">{{project.link}}</a></p>
                </ion-label>
            </ion-item>
        </ion-list>

        <ng-template #loading>
            <app-skeleton-loader lines="6"></app-skeleton-loader>
        </ng-template>

    </ion-grid>

</ion-content>
