<ion-header class="ion-no-border" translucent="{{translucentHeader}}">
    <ion-toolbar>
        <ion-title>{{person.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="{{translucentHeader}}">

    <ion-grid fixed="true">

        <div *ngIf="links$ | async as links; else loading">
            <ion-button size="small" shape="round" *ngFor="let link of links">
                <ion-icon size="small" [name]="link.ionicon" slot="icon-only"></ion-icon>
            </ion-button>
        </div>

        <ng-template #loading>
            <ion-spinner color="primary" name="dots"></ion-spinner>
        </ng-template>

        <ion-row>
            <ion-col>
                <p [innerHTML]="person.about"></p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
