<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Imprint</ion-title>
        <ion-buttons slot="end">
            <app-social-links></app-social-links>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="ion-padding" fixed>

        <ion-row *ngIf="imprint$ | async as imprint; else loading">
            <ion-col size="6" sizeSm="12" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
                <div [innerHTML]="parseRichText(imprint.content)"></div>
            </ion-col>

            <ion-col size="6" sizeSm="12" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6" class="ion-align-self-center ion-text-center">
                <img class="img-legal" src="assets/img/illustration-imprint.svg" alt="">
            </ion-col>
        </ion-row>

        <ng-template #loading>
            <app-skeleton-loader lines="5"></app-skeleton-loader>
        </ng-template>

    </ion-grid>

</ion-content>
